:root {
    --blueOrbys:#2269FF;
    --ambar:#ff9800;
    --aceept: #8cca9d;
    --denied: #b0413e;
    --background-fav: #415365;
    --background-fav2: #21232A;
    --textinput-background: #9DD6EB;
    --textinput-color: #CBCBCB;
    --text-color-black: #000;
    --text-color-white: #fff;
    --light-white: #fafafa;
    --dark-oscure: #000;
}